body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #C30F16; 
  font-size: 1.8em;
}

h1 {
  font-size: 6em;
  line-height: .25em;
}

h2 {
font-size: 3em;
line-height: .25em;
}

button {
  background-color: #088383; 
  border-width: 2px; 
  border-style: solid; 
  border-color: #ffebcd;
  border-radius: 8px;
  color: #ffebcd;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

.grid-container-header {
  background-color: #C30F16;
  padding: 1px;
  color: #ffebcd;
  font-family: 'Mountains of Christmas', cursive;
  text-align: center;
  border: 5px;
  border-style: solid solid hidden solid;
  border-color: #ffebcd;


}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #C30F16;
    padding: 10px;
    border: 5px;
    border-style: hidden solid solid solid;
    border-color: #ffebcd;
  }

  .grid-item {
    background-color: #E7F8F8; 
    border: 2px solid #C30F16;
    padding: 10px;
    font-size: 1em;
    text-align: center;
  }

